In [9]:
import pandas as pd 


df = pd.read_csv('troop_movements_1m.csv')

df['unit_type'] = df['unit_type'].replace('invalid_unit', 'unknown')
df[['location_x', 'location_y']] = df[['location_x', 'location_y']].ffill()

display(df)

,timestamp,unit_id,unit_type,location_x,location_y,destination_x,destination_y,homeworld
0,2023-06-03 03:19:15,919214,tie_silencer,2.0,5.0,9,3,Aleen Minor
1,2023-02-24 13:50:40,9467154,stormtrooper,9.0,0.0,9,1,Malastare
2,2023-03-29 19:54:55,6585778,tie_silencer,0.0,6.0,5,9,Serenno
3,2023-04-30 00:58:11,3878023,tie_silencer,4.0,2.0,9,9,Tund
4,2023-04-10 22:00:26,5537117,at-st,6.0,8.0,5,8,Skako
...,...,...,...,...,...,...,...,...
999995,2023-05-03 18:48:56,3553240,tie_fighter,8.0,4.0,8,1,Chandrila
999996,2023-05-25 13:45:35,1662636,at-at,0.0,3.0,8,6,Trandosha
999997,2023-05-17 12:16:37,2362262,tie_fighter,6.0,8.0,7,9,Kashyyyk
999998,2023-03-17 08:04:26,7669749,tie_fighter,9.0,3.0,3,5,Zolan
999999,2023-05-19 12:29:02,2187995,at-st,9.0,4.0,7,4,Dagobah

In [10]:
! pip install pyarrow

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pyarrow in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (20.0.0)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [11]:
! pip install fastparquet

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: fastparquet in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (2024.11.0)
Requirement already satisfied: pandas>=1.5.0 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from fastparquet) (2.2.2)
Requirement already satisfied: numpy in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from fastparquet) (1.26.4)
Requirement already satisfied: cramjam>=2.3 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from fastparquet) (2.10.0)
Requirement already satisfied: fsspec in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from fastparquet) (2025.5.1)
Requirement already satisfied: packaging in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from fastparquet) (24.0)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from pandas>=1.5.0->fastparquet) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from pandas>=1.5.0->fastparquet) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\wasadmin\appdata\roaming\python\python312\site-packages (from python-dateutil>=2.8.2->pandas>=1.5.0->fastparquet) (1.16.0)

[notice] A new release of pip is available: 24.0 -> 25.1.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [12]:
df.to_parquet('troop_movements_1m.parquet')

In [13]:
import pickle as pkl

with open('trained_model.pkl', 'rb') as file:
    model = pkl.load(file)

In [14]:
df = pd.read_parquet('troop_movements_1m.parquet')

In [15]:
X = pd.get_dummies(df[['homeworld', 'unit_type']])

In [16]:
df['predictions'] = model.predict(X)

In [17]:
display(df)

,timestamp,unit_id,unit_type,location_x,location_y,destination_x,destination_y,homeworld,predictions
0,2023-06-03 03:19:15,919214,tie_silencer,2.0,5.0,9,3,Aleen Minor,False
1,2023-02-24 13:50:40,9467154,stormtrooper,9.0,0.0,9,1,Malastare,False
2,2023-03-29 19:54:55,6585778,tie_silencer,0.0,6.0,5,9,Serenno,False
3,2023-04-30 00:58:11,3878023,tie_silencer,4.0,2.0,9,9,Tund,False
4,2023-04-10 22:00:26,5537117,at-st,6.0,8.0,5,8,Skako,False
...,...,...,...,...,...,...,...,...,...
999995,2023-05-03 18:48:56,3553240,tie_fighter,8.0,4.0,8,1,Chandrila,True
999996,2023-05-25 13:45:35,1662636,at-at,0.0,3.0,8,6,Trandosha,False
999997,2023-05-17 12:16:37,2362262,tie_fighter,6.0,8.0,7,9,Kashyyyk,True
999998,2023-03-17 08:04:26,7669749,tie_fighter,9.0,3.0,3,5,Zolan,True
999999,2023-05-19 12:29:02,2187995,at-st,9.0,4.0,7,4,Dagobah,False